<m-flex-template :menuOpen="menuOpen">
    <m-template>
        <template slot="header">
            <m-link :unvisited="true">
                <span slot="icon-left"><</span>Menu
            </m-link>
            <h1>{{$route.meta}}</h1>
        </template>
        <m-dynamic-template :template="tag"></m-dynamic-template>


        <br /><hr /><br />

        <h2>**Temporaire pour essayer vee-validate**</h2><br /><br />

        <div style="border:1px dashed #999">
            Flag: {{ flag }}<br />
            Text: {{ text }}<br />
            DDModel: {{ ddModel }}<br />
        </div>

        <h3>Checkbox</h3>
        <div>
            <label>Votre moyen de transport favori?</label><br />
            <m-checkbox @input="show" v-model="flag" data-vv-name="avion" data-vv-value-path="value" v-validate.initial="'required'">avion (obligatoire)</m-checkbox><strong>(non fonctionnel)</strong> <span v-show="errors.has('avion')" style="font-weight: bold; color: red;">En erreur</span><br />
            <input type="checkbox" v-validate.initial="'required'" name="auto"><label>Auto (Obligatoire)</label><span v-show="errors.has('auto')" style="color: red;">En erreur</span>
        </div>

        <h3>Radio</h3>
        <p>On peut mettre le validate sur un seul élément</p>
        <div>
            <label>Chien ou chat?</label><br />
            <m-radio data-vv-name="animals" data-vv-value-path="model" v-validate.initial="'required'">Chat</m-radio><br />
            <m-radio data-vv-name="animals" data-vv-value-path="model">Chien</m-radio><br />
            <span v-show="errors.has('animals')" style="color: red;">En erreur</span><br />

            <label>Chien ou chat?</label><br />
            <input type="radio" v-validate.initial="'required'" name="animaux"><label>Chien</label><br />
            <input type="radio" name="animaux"><label>Chat</label><br />
            <span v-show="errors.has('animaux')" style="color: red;">En erreur</span>
        </div>

        <h3>Text</h3>
        <p>La validation sur m-text-field se fait sur le blur</p>
        <div>
            <label>Nom (Obligatoire)</label><br />
            <input type="text" v-validate.initial="'required|min:3|alpha'" name="nom">
            <span v-show="errors.has('nom')" style="color: red;">En erreur</span>
            {{ errors.collect('nom') }}<br />
        </div>
        <div>
            <label>Nom complet</label><br />
            <m-text-field type="text" v-model="text" data-vv-name="complet" data-vv-value-path="model" v-validate.initial="'required'"></m-text-field>
            <span v-show="errors.has('complet')" style="color: red;">En erreur</span>
        </div>
        <div>
            <label>Mot de passe</label><br />
            <m-text-field type="password" data-vv-name="mot-de-passe" data-vv-value-path="model" v-validate.initial="'required'"></m-text-field>
            <span v-show="errors.has('mot-de-passe')" style="color: red;">En erreur</span>
        </div>
        <div>
            <label>Age</label><br />
            <m-text-field type="text" data-vv-name="age1" data-vv-value-path="model" v-validate.initial="'required|numeric'"></m-text-field>
            <span v-show="errors.has('age1')" style="color: red;">En erreur</span>
        </div>
        <div>
            <label>Courriel</label><br />
            <m-text-field type="email" data-vv-name="email1" data-vv-value-path="model" v-validate.initial="'required|email'"></m-text-field>
            <span v-show="errors.has('email1')" style="color: red;">En erreur</span>
        </div>

        <h3>Dropdown</h3>
        <div>
            <label>Session (Doit être 9 caractères et +)</label>
            <span v-if="errors.has('sessions')" style="color: red;">En erreur</span><br />
            <m-dropdown v-model="ddModel" data-vv-name="sessions" v-validate.initial="'required|min:9'">
                <m-dropdown-item v-for="session of sessions" :value="session"></m-dropdown-item>
            </m-dropdown>
        </div>

        <h3>Scope + validateAll</h3>
        <ul>
            <li>Le scope a des problème avec les checkbox (natif et m-checkbox) sur la validation du required lorsque 2 checkbox avec le même nom, dans 2 scopes différents. (Peut-être lié à cet issue https://github.com/baianat/vee-validate/issues/593)</li>
            <li>Les input de type text fonctionne bien avec les scopes, de même que le m-text-field</li>
            <li>On doit mettre/remettre data-vv-scope sur les custom component pour que ça fonctionne.</li>
        </ul>
        <form @submit.prevent="validateForm('form-1')" data-vv-scope="form-1">
            <p><strong>scope form-1</strong></p>
            <div>
                <label>Courriel (Obligatoire)</label><br />
                <input name="email" v-validate="'required'" type="text">
                <span v-show="errors.has('form-1.email')" style="color: red;">En erreur</span>
            </div>
            <br />
            <div>
                <label>Mot de passe (Obligatoire)</label><br />
                <m-text-field type="password" data-vv-scope="form-1" data-vv-name="password" v-validate="'required'" data-vv-value-path="model"></m-text-field>
                <span v-show="errors.has('form-1.password')" style="color: red;">En erreur</span>
            </div>
            <br />
            <div>
                <label>Age (Obligatoire + Numerique)</label><br />
                <m-text-field data-vv-scope="form-1" data-vv-name="age" v-validate="'required|numeric'" data-vv-value-path="model"></m-text-field>
                <span v-show="errors.has('form-1.age')" style="color: red;">En erreur</span>
            </div>
            <br />
            <div>
                <input type="checkbox" v-validate="'required'" name="condition">
                <label>J'accepte les conditions (Obligatoire)</label><br />
                <span v-show="errors.has('form-1.condition')" style="color: red;">En erreur</span>
            </div>
            <br />
            <button type="submit" name="button">Sign up</button>
            <button type="button" name="button" @click="errors.clear('form-1')">Clear</button>
        </form>
        <br /><br />
        <form @submit.prevent="validateForm('form-1')" data-vv-scope="form-2">
            <p><strong>scope form-2</strong></p>
            <div>
                <label>Courriel (Obligatoire)</label><br />
                <input name="email" v-validate="'required'" type="text">
                <span v-show="errors.has('form-2.email')" style="color: red;">En erreur</span>
            </div>
            <br />
            <div>
                <label>Mot de passe (Obligatoire)</label><br />
                <m-text-field type="password" data-vv-scope="form-2" data-vv-name="password" v-validate="'required'" data-vv-value-path="model"></m-text-field>
                <span v-show="errors.has('form-2.password')" style="color: red;">En erreur</span>
            </div>
            <br />
            <div>
                <label>Age (Obligatoire + Numerique)</label><br />
                <m-text-field data-vv-scope="form-2" data-vv-name="age" v-validate="'required|numeric'" data-vv-value-path="model" v-model="text"></m-text-field>
                <span v-show="errors.has('form-2.age')" style="color: red;">En erreur</span>
            </div>
            <br />
            <div>
                <input type="checkbox" v-validate="'required'" name="condition">
                <label>J'accepte les conditions (Obligatoire)</label><br />
                <span v-show="errors.has('form-2.condition')" style="color: red;">En erreur</span>
            </div>
            <br />
            <button type="submit" name="button">Sign up</button>
            <button type="button" name="button" @click="errors.clear('form-2')">Clear</button>
        </form>

        <h3>Custom validation</h3>
        <ul>
            <li>'initial' sur les règles customs ne fonctionne pas.</li>
            <li>Si on met un scope sur le form, 'initial' ne fonctionne pas, même pour les règles fournie par vee-validate. Il faut mettre le scope directement sur les input pour qu'il fonctionne (sur les règles customs, il ne fonctinne jamais)</li>
            <li>Tant qu'il n'y a pas de valeur dans un champs et que sa première règle est custom, le check du validateAll ne valide pas ce champs. Donc, pas d'erreurs et la validation passe.</li>
            <li>https://github.com/baianat/vee-validate/issues/320</li>
        </ul>
        <form data-vv-scope="custom-scope" @submit.prevent="validateForm('custom-scope')">
            <label>Nom (Obligatoire)</label><br />
            itemZ1:<input data-vv-scope="custom-scope" type="text" name="itemZ1" v-validate.initial="'custom'">(doit être 'abc')
            <span v-show="errors.has('custom-scope.itemZ1')" style="color: red;">{{ errors.first('custom-scope.itemZ1') }}</span><br />
            itemZ2:<input data-vv-scope="custom-scope" type="text" name="itemZ2" v-validate.initial="'required'">
            <span v-show="errors.has('custom-scope.itemZ2')" style="color: red;">{{ errors.first('custom-scope.itemZ2') }}</span><br />
            <button type="submit">validateAll sur les champs de cette section</button><br />
        </form>

        <h3>Validation sur une propriété</h3>
        <div>
            propriété itemA1:  {{ itemA1 }}<br />
            <button @click="validateItemA">Valider propriété</button>
            <button @click="itemA1 = !itemA1">Set itemA1 à  {{ !itemA1 }}</button><br />
            <span v-show="errors.has('itemA')" style="color: red;">{{ errors.first('itemA') }}</span>
        </div>

        <h3>Validation sur une propriété computed</h3>
        <div>
            propriété validatedComputed:  {{ validatedComputed }}<br />
            <!-- inputB1:<input @keyup="validateItemB" type="text" name="itemB1" id="" v-model="itemB1">(doit être 'a')<br />
            inputB2:<input @keyup="validateItemB" type="text" name="itemB2" id="" v-model="itemB2">(doit être 'b')<br /> -->
            inputB1:<input type="text" name="inputB1" id="" v-model="itemB1">(doit être 'a')<br />
            inputB2:<input type="text" name="inputB2" id="" v-model="itemB2">(doit être 'b')<br />
            <button @click="validateItemB">Valider internal</button>
            <span v-show="errors.has('itemB')" style="color: red;">{{ errors.first('itemB') }}</span>
        </div>

        <h3>Validation sur input hidden</h3>
        <p>La validation du champs hidden se fait lors de l'appel du validateAll. Elle n'est pas faite automatiquement lors de la saisie dans l'input visible.</p>
        <form data-vv-scope="hidden-scope" @submit.prevent="validateForm('hidden-scope')">
            inputC1:<input data-vv-scope="hidden-scope" type="text" name="inputC1" v-model="itemC1" @keyup="setItemC2" v-validate.initial="'required'"><br />
            inputC2: (hidden)<input data-vv-scope="hidden-scope" type="hidden" name="inputC2" :value="itemC2" v-validate.initial="'required'"><br />
            <span v-show="errors.has('hidden-scope.inputC1')" style="color: red;">{{ errors.first('hidden-scope.inputC1') }}</span><br />
            <span v-show="errors.has('hidden-scope.inputC2')" style="color: red;">{{ errors.first('hidden-scope.inputC2') }}</span><br />
            <button type="submit">Valider internal</button><br />
        </form>

        <br />
        <div style="border:1px dashed #999">
            {{ errors.collect() }}
        </div>

    </m-template>
    <div slot="footer">Footer</div>
</m-flex-template>
